{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Matching
{% endblock %}

{% block content %}

<p>
    In each and every round, {{ half_group }} <span class="red">Red</span> and {{ half_group }} <span class="blue">Blue</span>
    will be randomly and anonymously     matched to form a group of {{ players_per_group }},
    with a total of {{ num_groups }} groups.
</p>
<p>
    Regarding how players are matched, the {{ players_per_session }} participants are divided
    into {{ players_per_group }} classes. In each class there are {{ num_groups }} participants, all with the same role.
</p>
<p>
    So, the first and the second classes  are composed of  {{ num_groups }} Red types each,
    and the third and fourth classes are composed of  {{ num_groups }} Blue types each.
</p>
<p>
    In each and every round, you will be randomly matched with one participant from each of the other three classes.
    Thus, in a round you will have 1 in {{ num_groups }} chance of being matched with a given
    participant in each of the other classes. You will not be told the identity of the
    participant you are matched with, nor will that participant be told your identity--even after the   end of the experiment.
</p>
<p>
    Click the "Next" button when you have finished reading these instructions and are ready to continue.
</p>
    {% next_button %}

{% endblock %}

{% block app_styles %}
<style type="text/css">
    title {
        font-size: 24pt;
        font-weight: bold;
        }

    body {
        font-size: 16pt;
        }

    .red {
        color: #FF0000;
        }

    .blue {
        color: #0000FF;
        }
</style>
{% endblock %}