{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 4: Questionnaire B
{% endblock %}

{% block content %}

    <head>
        <script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-16262999-10");pageTracker._trackPageview();} catch(err) {}</script>

    <style type="text/css">
        table tr#ROWodd {background-color:#ededed;}
        table tr#ROWeven {background-color:white;}
    </style>

    </head>
    <body BGCOLOR=#ffffff TEXT=#000000>
    <H4>Instructions</H4>
    <p>
        On the following pages, there are phrases describing people's behaviors. Please use the rating scale below to describe
        how accurately each statement describes <em>you</em>. Describe yourself as  you  generally are now, not as you wish
        to be in  the future. Describe yourself as you honestly see yourself, in relation to other people you know of  the same
        sex as you  are, and roughly your same age.  So that you can describe yourself in  an honest manner, your responses will
        be kept in  absolute confidence. Please read each statement carefully,  and then fill in the bubble that corresponds
        to your reply.
    </p>
    <hr>
    <form method="get" action="wwwffi1b.pl">
        <table border =0>
            <th><FONT COLOR="#ffffff"><pre>-----------------------------</pre></FONT><FONT COLOR="#000000"></th>
            <th><pre><small>        Very      <br>    Inaccurate    </small></pre></th>
            <th><pre><small>    Moderately    <br>    Inaccurate    </small></pre></th>
            <th><pre><small>Neither Inaccurate<br>   nor Accurate   </small></pre></th>
            <th><pre><small>    Moderately    <br>    Accurate    </small></pre></th>
            <th><pre><small>      Very       <br>    Accurate    </small></pre></th>
            <tr id="ROWodd">
                <td> 1. Tend to vote for conservative political candidates.</td>
                <td align=center><input type="radio" name="Q.01" value ="1"></td>
                <td align=center><input type="radio" name="Q.01" value ="2"></td>
                <td align=center><input type="radio" name="Q.01" value ="3"></td>
                <td align=center><input type="radio" name="Q.01" value ="4"></td>
                <td align=center><input type="radio" name="Q.01" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 2. Have frequent mood swings.</td>
                <td align=center><input type="radio" name="Q.02" value ="1"></td>
                <td align=center><input type="radio" name="Q.02" value ="2"></td>
                <td align=center><input type="radio" name="Q.02" value ="3"></td>
                <td align=center><input type="radio" name="Q.02" value ="4"></td>
                <td align=center><input type="radio" name="Q.02" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 3. Am not easily bothered by things.</td>
                <td align=center><input type="radio" name="Q.03" value ="1"></td>
                <td align=center><input type="radio" name="Q.03" value ="2"></td>
                <td align=center><input type="radio" name="Q.03" value ="3"></td>
                <td align=center><input type="radio" name="Q.03" value ="4"></td>
                <td align=center><input type="radio" name="Q.03" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 4. Believe in the importance of art.</td>
                <td align=center><input type="radio" name="Q.04" value ="1"></td>
                <td align=center><input type="radio" name="Q.04" value ="2"></td>
                <td align=center><input type="radio" name="Q.04" value ="3"></td>
                <td align=center><input type="radio" name="Q.04" value ="4"></td>
                <td align=center><input type="radio" name="Q.04" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 5. Am the life of the party.</td>
                <td align=center><input type="radio" name="Q.05" value ="1"></td>
                <td align=center><input type="radio" name="Q.05" value ="2"></td>
                <td align=center><input type="radio" name="Q.05" value ="3"></td>
                <td align=center><input type="radio" name="Q.05" value ="4"></td>
                <td align=center><input type="radio" name="Q.05" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 6. Am skilled in handling social situations.</td>
                <td align=center><input type="radio" name="Q.06" value ="1"></td>
                <td align=center><input type="radio" name="Q.06" value ="2"></td>
                <td align=center><input type="radio" name="Q.06" value ="3"></td>
                <td align=center><input type="radio" name="Q.06" value ="4"></td>
                <td align=center><input type="radio" name="Q.06" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 7. Am always prepared.</td>
                <td align=center><input type="radio" name="Q.07" value ="1"></td>
                <td align=center><input type="radio" name="Q.07" value ="2"></td>
                <td align=center><input type="radio" name="Q.07" value ="3"></td>
                <td align=center><input type="radio" name="Q.07" value ="4"></td>
                <td align=center><input type="radio" name="Q.07" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 8. Make plans and stick to them.</td>
                <td align=center><input type="radio" name="Q.08" value ="1"></td>
                <td align=center><input type="radio" name="Q.08" value ="2"></td>
                <td align=center><input type="radio" name="Q.08" value ="3"></td>
                <td align=center><input type="radio" name="Q.08" value ="4"></td>
                <td align=center><input type="radio" name="Q.08" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 9. Dislike myself.</td>
                <td align=center><input type="radio" name="Q.09" value ="1"></td>
                <td align=center><input type="radio" name="Q.09" value ="2"></td>
                <td align=center><input type="radio" name="Q.09" value ="3"></td>
                <td align=center><input type="radio" name="Q.09" value ="4"></td>
                <td align=center><input type="radio" name="Q.09" value ="5"></td>
            </tr>
            <td> </td>
            <td><small><center>Very<br> Inaccurate</center></td>
            <td><small><center>Moderately<br> Inaccurate</center></td>
            <td><small><center>Neither Inaccurate <br> nor Accurate</center></td>
            <td><small><center>Moderately<br>Accurate</center></td>
            <td><small><center>Very<br>Accurate</center></td></small>
            <tr id="ROWeven">
                <td > 10. Respect others.</td>
                <td align=center><input type="radio" name="Q.10" value ="1"></td>
                <td align=center><input type="radio" name="Q.10" value ="2"></td>
                <td align=center><input type="radio" name="Q.10" value ="3"></td>
                <td align=center><input type="radio" name="Q.10" value ="4"></td>
                <td align=center><input type="radio" name="Q.10" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 11. Insult people.</td>
                <td align=center><input type="radio" name="Q.11" value ="1"></td>
                <td align=center><input type="radio" name="Q.11" value ="2"></td>
                <td align=center><input type="radio" name="Q.11" value ="3"></td>
                <td align=center><input type="radio" name="Q.11" value ="4"></td>
                <td align=center><input type="radio" name="Q.11" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 12. Seldom feel blue.</td>
                <td align=center><input type="radio" name="Q.12" value ="1"></td>
                <td align=center><input type="radio" name="Q.12" value ="2"></td>
                <td align=center><input type="radio" name="Q.12" value ="3"></td>
                <td align=center><input type="radio" name="Q.12" value ="4"></td>
                <td align=center><input type="radio" name="Q.12" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 13. Don't like to draw attention to myself.</td>
                <td align=center><input type="radio" name="Q.13" value ="1"></td>
                <td align=center><input type="radio" name="Q.13" value ="2"></td>
                <td align=center><input type="radio" name="Q.13" value ="3"></td>
                <td align=center><input type="radio" name="Q.13" value ="4"></td>
                <td align=center><input type="radio" name="Q.13" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 14. Carry out my plans.</td>
                <td align=center><input type="radio" name="Q.14" value ="1"></td>
                <td align=center><input type="radio" name="Q.14" value ="2"></td>
                <td align=center><input type="radio" name="Q.14" value ="3"></td>
                <td align=center><input type="radio" name="Q.14" value ="4"></td>
                <td align=center><input type="radio" name="Q.14" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 15. Am not interested in abstract ideas.</td>
                <td align=center><input type="radio" name="Q.15" value ="1"></td>
                <td align=center><input type="radio" name="Q.15" value ="2"></td>
                <td align=center><input type="radio" name="Q.15" value ="3"></td>
                <td align=center><input type="radio" name="Q.15" value ="4"></td>
                <td align=center><input type="radio" name="Q.15" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 16. Make friends easily.</td>
                <td align=center><input type="radio" name="Q.16" value ="1"></td>
                <td align=center><input type="radio" name="Q.16" value ="2"></td>
                <td align=center><input type="radio" name="Q.16" value ="3"></td>
                <td align=center><input type="radio" name="Q.16" value ="4"></td>
                <td align=center><input type="radio" name="Q.16" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 17. Tend to vote for liberal political candidates.</td>
                <td align=center><input type="radio" name="Q.17" value ="1"></td>
                <td align=center><input type="radio" name="Q.17" value ="2"></td>
                <td align=center><input type="radio" name="Q.17" value ="3"></td>
                <td align=center><input type="radio" name="Q.17" value ="4"></td>
                <td align=center><input type="radio" name="Q.17" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 18. Know how to captivate people.</td>
                <td align=center><input type="radio" name="Q.18" value ="1"></td>
                <td align=center><input type="radio" name="Q.18" value ="2"></td>
                <td align=center><input type="radio" name="Q.18" value ="3"></td>
                <td align=center><input type="radio" name="Q.18" value ="4"></td>
                <td align=center><input type="radio" name="Q.18" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 19. Believe that others have good intentions.</td>
                <td align=center><input type="radio" name="Q.19" value ="1"></td>
                <td align=center><input type="radio" name="Q.19" value ="2"></td>
                <td align=center><input type="radio" name="Q.19" value ="3"></td>
                <td align=center><input type="radio" name="Q.19" value ="4"></td>
                <td align=center><input type="radio" name="Q.19" value ="5"></td>
            </tr>
            <td> </td>
            <td><small><center>Very<br> Inaccurate</center></td>
            <td><small><center>Moderately<br> Inaccurate</center></td>
            <td><small><center>Neither Inaccurate <br> nor Accurate</center></td>
            <td><small><center>Moderately<br>Accurate</center></td>
            <td><small><center>Very<br>Accurate</center></td></small>
            <tr id="ROWeven">
                <td> 20. Do just enough work to get by.</td>
                <td align=center><input type="radio" name="Q.20" value ="1"></td>
                <td align=center><input type="radio" name="Q.20" value ="2"></td>
                <td align=center><input type="radio" name="Q.20" value ="3"></td>
                <td align=center><input type="radio" name="Q.20" value ="4"></td>
                <td align=center><input type="radio" name="Q.20" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 21. Find it difficult to get down to work.</td>
                <td align=center><input type="radio" name="Q.21" value ="1"></td>
                <td align=center><input type="radio" name="Q.21" value ="2"></td>
                <td align=center><input type="radio" name="Q.21" value ="3"></td>
                <td align=center><input type="radio" name="Q.21" value ="4"></td>
                <td align=center><input type="radio" name="Q.21" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 22. Panic easily.</td>
                <td align=center><input type="radio" name="Q.22" value ="1"></td>
                <td align=center><input type="radio" name="Q.22" value ="2"></td>
                <td align=center><input type="radio" name="Q.22" value ="3"></td>
                <td align=center><input type="radio" name="Q.22" value ="4"></td>
                <td align=center><input type="radio" name="Q.22" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 23. Avoid philosophical discussions.</td>
                <td align=center><input type="radio" name="Q.23" value ="1"></td>
                <td align=center><input type="radio" name="Q.23" value ="2"></td>
                <td align=center><input type="radio" name="Q.23" value ="3"></td>
                <td align=center><input type="radio" name="Q.23" value ="4"></td>
                <td align=center><input type="radio" name="Q.23" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 24. Accept people as they are.</td>
                <td align=center><input type="radio" name="Q.24" value ="1"></td>
                <td align=center><input type="radio" name="Q.24" value ="2"></td>
                <td align=center><input type="radio" name="Q.24" value ="3"></td>
                <td align=center><input type="radio" name="Q.24" value ="4"></td>
                <td align=center><input type="radio" name="Q.24" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 25. Do not enjoy going to art museums.</td>
                <td align=center><input type="radio" name="Q.25" value ="1"></td>
                <td align=center><input type="radio" name="Q.25" value ="2"></td>
                <td align=center><input type="radio" name="Q.25" value ="3"></td>
                <td align=center><input type="radio" name="Q.25" value ="4"></td>
                <td align=center><input type="radio" name="Q.25" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 26. Pay attention to details.</td>
                <td align=center><input type="radio" name="Q.26" value ="1"></td>
                <td align=center><input type="radio" name="Q.26" value ="2"></td>
                <td align=center><input type="radio" name="Q.26" value ="3"></td>
                <td align=center><input type="radio" name="Q.26" value ="4"></td>
                <td align=center><input type="radio" name="Q.26" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 27. Keep in the background.</td>
                <td align=center><input type="radio" name="Q.27" value ="1"></td>
                <td align=center><input type="radio" name="Q.27" value ="2"></td>
                <td align=center><input type="radio" name="Q.27" value ="3"></td>
                <td align=center><input type="radio" name="Q.27" value ="4"></td>
                <td align=center><input type="radio" name="Q.27" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 28. Feel comfortable with myself.</td>
                <td align=center><input type="radio" name="Q.28" value ="1"></td>
                <td align=center><input type="radio" name="Q.28" value ="2"></td>
                <td align=center><input type="radio" name="Q.28" value ="3"></td>
                <td align=center><input type="radio" name="Q.28" value ="4"></td>
                <td align=center><input type="radio" name="Q.28" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 29. Waste my time.</td>
                <td align=center><input type="radio" name="Q.29" value ="1"></td>
                <td align=center><input type="radio" name="Q.29" value ="2"></td>
                <td align=center><input type="radio" name="Q.29" value ="3"></td>
                <td align=center><input type="radio" name="Q.29" value ="4"></td>
                <td align=center><input type="radio" name="Q.29" value ="5"></td>
            </tr>
            <td> </td>
            <td><small><center>Very<br> Inaccurate</center></td>
            <td><small><center>Moderately<br> Inaccurate</center></td>
            <td><small><center>Neither Inaccurate <br> nor Accurate</center></td>
            <td><small><center>Moderately<br>Accurate</center></td>
            <td><small><center>Very<br>Accurate</center></td></small>
            <tr id="ROWeven">
                <td> 30. Get back at others.</td>
                <td align=center><input type="radio" name="Q.30" value ="1"></td>
                <td align=center><input type="radio" name="Q.30" value ="2"></td>
                <td align=center><input type="radio" name="Q.30" value ="3"></td>
                <td align=center><input type="radio" name="Q.30" value ="4"></td>
                <td align=center><input type="radio" name="Q.30" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 31. Get chores done right away.</td>
                <td align=center><input type="radio" name="Q.31" value ="1"></td>
                <td align=center><input type="radio" name="Q.31" value ="2"></td>
                <td align=center><input type="radio" name="Q.31" value ="3"></td>
                <td align=center><input type="radio" name="Q.31" value ="4"></td>
                <td align=center><input type="radio" name="Q.31" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 32. Don't talk a lot.</td>
                <td align=center><input type="radio" name="Q.32" value ="1"></td>
                <td align=center><input type="radio" name="Q.32" value ="2"></td>
                <td align=center><input type="radio" name="Q.32" value ="3"></td>
                <td align=center><input type="radio" name="Q.32" value ="4"></td>
                <td align=center><input type="radio" name="Q.32" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 33. Am often down in the dumps.</td>
                <td align=center><input type="radio" name="Q.33" value ="1"></td>
                <td align=center><input type="radio" name="Q.33" value ="2"></td>
                <td align=center><input type="radio" name="Q.33" value ="3"></td>
                <td align=center><input type="radio" name="Q.33" value ="4"></td>
                <td align=center><input type="radio" name="Q.33" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 34. Shirk my duties.</td>
                <td align=center><input type="radio" name="Q.34" value ="1"></td>
                <td align=center><input type="radio" name="Q.34" value ="2"></td>
                <td align=center><input type="radio" name="Q.34" value ="3"></td>
                <td align=center><input type="radio" name="Q.34" value ="4"></td>
                <td align=center><input type="radio" name="Q.34" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 35. Do not like art.</td>
                <td align=center><input type="radio" name="Q.35" value ="1"></td>
                <td align=center><input type="radio" name="Q.35" value ="2"></td>
                <td align=center><input type="radio" name="Q.35" value ="3"></td>
                <td align=center><input type="radio" name="Q.35" value ="4"></td>
                <td align=center><input type="radio" name="Q.35" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 36. Often feel blue.</td>
                <td align=center><input type="radio" name="Q.36" value ="1"></td>
                <td align=center><input type="radio" name="Q.36" value ="2"></td>
                <td align=center><input type="radio" name="Q.36" value ="3"></td>
                <td align=center><input type="radio" name="Q.36" value ="4"></td>
                <td align=center><input type="radio" name="Q.36" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 37. Cut others to pieces.</td>
                <td align=center><input type="radio" name="Q.37" value ="1"></td>
                <td align=center><input type="radio" name="Q.37" value ="2"></td>
                <td align=center><input type="radio" name="Q.37" value ="3"></td>
                <td align=center><input type="radio" name="Q.37" value ="4"></td>
                <td align=center><input type="radio" name="Q.37" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 38. Have a good word for everyone.</td>
                <td align=center><input type="radio" name="Q.38" value ="1"></td>
                <td align=center><input type="radio" name="Q.38" value ="2"></td>
                <td align=center><input type="radio" name="Q.38" value ="3"></td>
                <td align=center><input type="radio" name="Q.38" value ="4"></td>
                <td align=center><input type="radio" name="Q.38" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 39. Don't see things through.</td>
                <td align=center><input type="radio" name="Q.39" value ="1"></td>
                <td align=center><input type="radio" name="Q.39" value ="2"></td>
                <td align=center><input type="radio" name="Q.39" value ="3"></td>
                <td align=center><input type="radio" name="Q.39" value ="4"></td>
                <td align=center><input type="radio" name="Q.39" value ="5"></td>
            </tr>
            <tr id="ROWeven">
                <td> 40. Feel comfortable around people.</td>
                <td align=center><input type="radio" name="Q.40" value ="1"></td>
                <td align=center><input type="radio" name="Q.40" value ="2"></td>
                <td align=center><input type="radio" name="Q.40" value ="3"></td>
                <td align=center><input type="radio" name="Q.40" value ="4"></td>
                <td align=center><input type="radio" name="Q.40" value ="5"></td>
            </tr>
            <tr id="ROWodd">
                <td> 41. Have little to say.</td>
                <td align=center><input type="radio" name="Q.41" value ="1"></td>
                <td align=center><input type="radio" name="Q.41" value ="2"></td>
                <td align=center><input type="radio" name="Q.41" value ="3"></td>
                <td align=center><input type="radio" name="Q.41" value ="4"></td>
                <td align=center><input type="radio" name="Q.41" value ="5"></td>
            </tr>
        </table>
        <hr>
        <!--<p>
            <h3><b>Now some other questions about you:</b></h3>
        <p>
        <input type="hidden" name = "c" value = "demographics">
        <input type="hidden" name = "ID" value = "131469">
        <input type="hidden" name = "c" value = "dv">
        <p>
            <ul><li>What is your age in years?
                <select name="age">
                    <option value=0 >Pick from this list:
                    <option value=01>Under 5
                    <option value=02>5-10
                    <option value=03>11-15
                    <option value=04>16-20
                    <option value=05>21-25
                    <option value=06>26-30
                    <option value=07>31-35
                    <option value=08>36-40
                    <option value=09>41-45
                    <option value=10>46-50
                    <option value=11>51-55
                    <option value=12>56-60
                    <option value=13>61-65
                    <option value=14>66-70
                    <option value=15>71-75
                    <option value=16>76-80
                    <option value=17>81-85
                    <option value=18>Over 85
                </select>
                <input type="hidden" name = "c" value = "dv"></li>
        <li>
        <p>Where are you located?
        <select name="location">
            <option value = 0 >Pick from this list:
            <option value = 01 >Africa
            <option value = 02 >Antarctica
            <option value = 03 >Asia
            <option value = 04 >Oceania (Australia, New Zealand etc.)
            <option value = 05 >Europe
            <option value = 06 >USA
            <option value = 07 >Canada
            <option value = 08 >Mexico
            <option value = 09 >Central America
            <option value = 10 >South America
            <option value = 11 >Middle East
            <option value = 12 >West Indies
        </select>
        <input type="hidden" name = "c" value = "dv"></li>
        <P><li>Are you male or female?
        <SELECT name=gender>
            <OPTION selected value=0>Pick:
            <OPTION value=1>Male
            <OPTION value=2>Female
        </OPTION>
        </SELECT>
        <input type="hidden" name = "c" value = "dv"></li>
        <p><li>What is the highest level of formal schooling you have <em>completed?</em>
        <select name="education">
            <option value = 0 >Pick from this list:
            <option value = 1 >Primary or Grammar School
            <option value = 2 >High School / Secondary School or equivalent
            <option value = 3 >Vocational / Technical School or College
            <option value = 4 >Some College / University
            <option value = 5 >College / University Graduate
            <option value = 6 >Some Postgraduate education
            <option value = 7 >Postgraduate or professional degree (e.g. PhD, MD)
            <option value = 8 >2 or more postgraduate or professional degrees
        </select>
        <input type="hidden" name = "c" value = "dv"></li>
        <p><li><p>Which of these best describes your main current occupational status?
        <select name="occupation">
            <option value = 0 >Pick from this list:
            <option value = 1 >Employed for wages
            <option value = 2 >Self-employed
            <option value = 3 >Unemployed but looking for work
            <option value = 4 >Home-maker
            <option value = 5 >Student
            <option value = 6 >Retired
            <option value = 7 >Unable to work for health or other reasons
        </select></li>
        <p>

    </p>
        <input type="hidden" name = "c" value = "dv">
        <P><li>What kind of computer are you currently using?
        <SELECT name=platform>
            <OPTION selected value=0>Pick from this list:
            <OPTION value=1>IBM PC or compatible (e.g. 486, Pentium)
            <OPTION value=2>Apple Macintosh (e.g. iMac)
            <OPTION value=3>Other (e.g. Unix system, Psion)</OPTION>
            <OPTION value=4>Do not know
        </SELECT>
        <input type="hidden" name = "c" value = "dv"></li><p>
        <p><li><h4>Can your answers be  (anonymously) logged  and used for research?<br>You should answer NO if,  for example, you have done this test before, did not answer the questions seriously, or do not want to participate in our research. <br>
        <select name="validdata">
            <option value = 0 >Pick:
            <option value = 1 >Yes - you can use my data
            <option value = 2 >No - do not use my data
        </select></h4></li>-->
        </ul>
    </form></small>
    </body>

    <button class="otree-btn-next btn btn-primary" style="font-size:18px">Next</button>

{% endblock %}