{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Optional Donation
{% endblock %}

{% block content %}
<p>
    Now that you have seen all the charities to choose from, you may donate up to {{ endowment }}
    of your earnings from this experiment. Whatever you choose not to donate, you will keep.
</p>

{% formfield player.charity label="Please choose your preferred charity:" %}

{% formfield player.donation label="Please choose how much you would like to donate:" %}

{% next_button %}

{% endblock %}

{% block app_styles %}
<style type="text/css">
    th {
        border: 1px solid black;
        font-size: 18pt;
        width: 650px;
        text-align: right;
        font-weight:normal;
        }

    td {
        font-size: 18pt;
        border: 1px solid black;
        text-align: center;
        }
    title {
        font-size: 36pt;
        font-weight: bold;
        }

    body {
        font-size: 18pt;
        }
    table {
        table-layout: fixed;
        width: 800px;
        }

    .history td {
        font-size: 16pt;
        }

    .history th {
        font-size: 12pt;
        width: 100px;
        text-align: center;
        }

    h3 {
        font-size: 18pt;
        font-weight: bold;
        }

    .important {
        font-size: 20pt;
        font-weight: bold;
    }

    .income {
        display: none;
    }

    .slider {
        -webkit-appearance: none;
        width: 50%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }
</style>
{% endblock %}


