{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Post-Experiment Questionnaire
{% endblock %}

{% block content %}

<p> You have completed the experiment. On the following page, we will determine the amount you are to be paid. </p>

<p> Please complete the following questionnaire about yourself.
    If you are uncomfortable answering any of these questions, you may leave them blank. </p>

    {% formfield player.race label="Race/Ethnicity:" %}
    {% formfield player.gender label="Gender:" %}
    {% formfield player.age label="Age:" %}
    {% formfield player.major label="Major:" %}
    {% formfield player.income label="Household Income:" %}
    {% formfield player.explanation label="Please explain why you made the choices you did in the experiment:" %}

    {% next_button %}


{% endblock %}


{% block app_styles %}
<style type="text/css">
    th {
        border: 1px solid black;
        font-size: 18pt;
        width: 650px;
        text-align: right;
        font-weight:normal;
        }

    td {
        font-size: 18pt;
        border: 1px solid black;
        text-align: center;
        }
    title {
        font-size: 36pt;
        font-weight: bold;
        }

    body {
        font-size: 18pt;
        }
    table {
        table-layout: fixed;
        width: 800px;
        }

    .history td {
        font-size: 16pt;
        }

    .history th {
        font-size: 12pt;
        width: 100px;
        text-align: center;
        }

    h3 {
        font-size: 18pt;
        font-weight: bold;
        }

    .important {
        font-size: 20pt;
        font-weight: bold;
    }

    .income {
        display: none;
    }

    .slider {
        -webkit-appearance: none;
        width: 50%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }
</style>
{% endblock %}
