{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}

<style type="text/css">
    title {
        font-size: 36pt;
        font-weight: bold;
        }

    body {
        font-size: 24pt;
        }
    table {
        table-layout: fixed;
        width: 600px;
        }

    .history td {
        font-size: 24pt;
        }

    .history th {
        width: 150px;
        }

    h3 {
        font-size: 36pt;
        font-weight: bold;
        }
</style>

{% endblock %}