{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block app_styles %}

<style type="text/css">
body { font-family: Verdana, Arial, sans-serif; font-size: 12px; height: 100%;}
html, body{ height: 450px;}
#wrap { width:100%; margin:0px; height: 450px }
#footer { clear:both; padding: 100px 30px 0px 400px}
#dividendos {position: absolute; top: 5%; left: 10%; right: 70%; bottom: 350px; background: #F5F5DC}
#prahran {position: absolute; top: 5%; left: 40%; right: 5%; bottom: 350px; background: #F5F5DC}
#placeholder {position: absolute; top: 400px; left: 10%; right: 70%; bottom: 4%; background: #F5F5DC}
#right_col {position: absolute; top: 400px; left: 40%; right: 5%; bottom: 10%}
#footer2 { position: absolute; top: 450px; left: 80%; right: 0%; bottom: 0%}

.otree-form-errors {
    position: absolute;
    bottom: 8px;
    right: 16px;
    
}
</style>
</style>

{% endblock %}

