{% extends "etfs2/Basetf.html" %}

{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}

<div id="wrap">

<div id="dividendos" style="overflow-x:auto;">
{% include "etfs2/table_dividend.html" %}

</div>

<div id="prahran" style="overflow-x:auto;">
{% include "etfs2/table_market.html" %}

</div>

<div id="placeholder">
 <table class="table" style="max-height:50%, max-width:50%">
            <thead>
                <tr>
                    <!-- 3 colums: -->
                    <th>  </th>
                    <th> Current </th>
                    <th> Change </th>
                </tr>
            </thead>
            <tr>
                <td> Cash </td>
                <td>{{ cash_final}}</td>
                <td>
                {{ player.delta_cash }}
                </td>
            </tr>
            <tr>
                <td> A </td>
                <td>{{ nassets_afinal}}</td>
                <td>
                {{ player.t_a }}
                </td>
            </tr>
            <tr>
                <td> B </td>
                <td>{{ nassets_bfinal}}</td>
                <td>
                {{ player.t_b }}
                </td>
            </tr>
            <tr>
                <td> Payoff </td>
                <td> {{player.cum_payoff}} </td>
                <td> {{player.pay_display}} </td>
            </tr>
    </table>


</div>

<div id="right_col">
  
   {% next_button %}


</div>

</div>



{% endblock %}