{% extends "double_auction/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Final Results
{% endblock %}

{% block content %}

<p>
    You have now completed the experiment. Rounds {{ paying_round1 }} and {{ paying_round2 }} were randomly chosen for payment.
</p>
<p>
    Your payoff in round {{ paying_round1 }} was {{ payoff1_points }}, which is {{ payoff1_money }} in US dollars.
</p>
<p>
    Your payoff in round {{ paying_round2 }} was {{ payoff2_points }}, which is {{ payoff2_money }} in US dollars.
</p>
<p>
    This comes to a total of {{ payoff_money }}.
    Write this amount on your receipt.
</p>
<p>
    In addition, you will also receive {{ showup_fee }} for your participation.
</p>

<br>
<table id="payoff_table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Round #</th>
            <th>Quantity </th>
            <th>Tokens</th>
            <th>Your Payoff</th>
        </tr>
    </thead>
    <tbody>
        {% for player in player_in_all_rounds %}
            <tr>
                <td>
                    {% if player.round_number in paying_rounds %}
                    <span class="badge badge-primary">Paying round</span>
                    {% endif %}
                </td>
                <td>
                    {{ player.round_number }}
                </td>
                <td>
                    {{ player.quantity }}
                </td>
                <td>
                    {{ player.value }}
                </td>
                <td>
                    <strong>{{ player.payoff }}</strong>
                </td>
            </tr>
        {% endfor %}
        <!--<tr v-for="round in rounds" v-bind:class="{ warning: round.test_round }">-->
            <!--<td><span v-if="round.this_round_pays"><b>PAYING ROUND </b></span>${ payoff.round_number }  <span v-if="round.test_round" class="badge badge-info">Test</span></td>-->
            <!--<td>${ payoff.quantity }</td>-->
            <!--<td>${ payoff.price }</td>-->
            <!--<td><strong>${ payoff.payoff }</strong> </td>-->
        <!--</tr>-->
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="{% static 'double_auction/endResults.js' %}" charset="utf-8"></script>
{% endblock %}

{% block styles %}
<style type="text/css">
    .otree-title {
        text-align: center;
    }
</style>
{% endblock %}
