{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Bargaining
{% endblock %}

{% block content %}
    <h3>You were randomly assigned the role of a <strong>{{participant.vars.role}}</strong>.
        You will keep this role throughout all rounds of the experiment.</h3>



    {% next_button %}
{% endblock %}




{% block styles %}
<style type="text/css">
    .otree-title {
        text-align: center;
    }

    .otree-timer {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 200px;
}
</style>
{% endblock %}
